.main {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/home.png') center/cover no-repeat;
  height: 400px;
}

.fitzone-info-section {
  background-color: #000;
  color: #ccc;
  padding: 50px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.fitzone-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}

.fitzone-info-left {
  flex: 1 1 300px;
}

.fitzone-logo {
  height: 100px;
  width: 100px;
  margin-bottom: 15px;
}

.fitzone-info-left p {
  line-height: 1.6;
  color: #eee;
}

.fitzone-info-center {
  flex: 1 1 200px;
}

.fitzone-info-center ul {
  list-style: none;
  padding: 0;
}

.fitzone-info-center li {
  margin-top: 15px;

}

.fitzone-info-center a {
  color: #b0b0b0;
  text-decoration: none;
  transition: color 0.3s;
}

.fitzone-info-center a:hover {
  color: #fff;
}

.fitzone-info-right {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.app-buttons img {
  /* height: 60px; */
  margin-right: 10px;
}

.social-icons a {
  color: #ccc;
  margin-right: 20px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #f1c40f;
}
