USE [master]
GO
/****** Object:  Database [School_Management]    Script Date: 17-07-2025 17:35:44 ******/
CREATE DATABASE [School_Management]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School_Management', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\School_Management.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'School_Management_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\School_Management_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School_Management].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School_Management]
GO
/****** Object:  Table [dbo].[LoginMaster]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Mobile] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK__LoginMas__3214EC2768EEB75E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblBill]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBill](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [int] NULL,
	[StudentID] [nvarchar](1000) NULL,
	[Name] [nvarchar](100) NULL,
	[Class] [nvarchar](20) NULL,
	[Section] [nvarchar](10) NULL,
	[Roll] [nvarchar](10) NULL,
	[FeeHead] [nvarchar](150) NULL,
	[FeeAmount] [nvarchar](100) NULL,
	[Amount] [nvarchar](100) NULL,
	[PreviousDues] [nvarchar](100) NULL,
	[LateFine] [nvarchar](100) NULL,
	[ConcessionifAny] [nvarchar](100) NULL,
	[ConcessionAmount] [nvarchar](100) NULL,
	[ConcessionRemarks] [nvarchar](100) NULL,
	[TotalAmount] [nvarchar](100) NULL,
	[PaidAmount] [nvarchar](100) NULL,
	[Dues] [nvarchar](100) NULL,
	[PayType] [nvarchar](100) NULL,
	[TransactionNumber] [nvarchar](100) NULL,
	[Month] [nvarchar](50) NULL,
	[Year] [nvarchar](10) NULL,
	[Date] [nvarchar](15) NULL,
	[FeeType] [nvarchar](50) NULL,
	[PaidInWords] [nvarchar](max) NULL,
 CONSTRAINT [PK__TblBill__3214EC27518DDA4D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblBusFee]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBusFee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BusNumber] [nvarchar](10) NULL,
	[Stopage] [nvarchar](100) NULL,
	[Fee] [nvarchar](20) NULL,
	[FeeName] [nvarchar](100) NULL,
	[RegistrationNo] [nvarchar](100) NULL,
 CONSTRAINT [PK__TblBusFe__3214EC2735C6282A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblDepartment]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDepartment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
 CONSTRAINT [PK__TblDepar__3214EC279FD9E749] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblDesignation]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblDesignation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](30) NULL,
	[DesignationName] [nvarchar](30) NULL,
 CONSTRAINT [PK__TblDesig__3214EC271F51E35B] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblEmployee]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEmployee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Emp_Id] [nvarchar](100) NULL,
	[Name] [nvarchar](100) NULL,
	[FatherName] [nvarchar](100) NULL,
	[Mobile] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Department] [nvarchar](30) NULL,
	[Designation] [nvarchar](30) NULL,
	[Class] [nvarchar](20) NULL,
	[Subject] [nvarchar](50) NULL,
	[Salary] [nvarchar](20) NULL,
	[OtherPerks] [nvarchar](20) NULL,
	[DateOfJoining] [date] NULL,
	[Resignation] [date] NULL,
	[Deduction] [nvarchar](10) NULL,
	[Date] [nvarchar](20) NULL,
 CONSTRAINT [PK__TblEmplo__3214EC2775AF63E6] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblFee]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblFee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FeeName] [nvarchar](100) NULL,
	[Class] [nvarchar](10) NULL,
	[Fee] [nvarchar](20) NULL,
	[FeeType] [nvarchar](100) NULL,
 CONSTRAINT [PK__TblFee__3214EC27EAC3C544] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblFeeName]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblFeeName](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
 CONSTRAINT [PK__TblFeeNa__3214EC271E2CF186] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblIDCard]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblIDCard](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Student_ID] [nvarchar](1000) NULL,
	[Name] [nvarchar](100) NULL,
	[FatherName] [nvarchar](100) NULL,
	[Dob] [nvarchar](20) NULL,
	[Class] [nvarchar](20) NULL,
	[Section] [nvarchar](10) NULL,
	[Roll] [nvarchar](10) NULL,
	[FatherMobile] [nvarchar](15) NULL,
	[FinancialYear] [nvarchar](20) NULL,
 CONSTRAINT [PK__TblIDCar__3214EC27CF241090] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblLeaving]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblLeaving](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [nvarchar](1000) NULL,
	[Name] [nvarchar](100) NULL,
	[FatherName] [nvarchar](100) NULL,
	[MotherName] [nvarchar](100) NULL,
	[Nationality] [nvarchar](20) NULL,
	[Dob] [nvarchar](20) NULL,
	[AdmissionDate] [nvarchar](20) NULL,
	[AdmittedClass] [nvarchar](20) NULL,
	[Class] [nvarchar](20) NULL,
	[Roll] [nvarchar](10) NULL,
	[LeavingDate] [nvarchar](20) NULL,
	[Reason] [nvarchar](max) NULL,
	[Activities] [nvarchar](max) NULL,
	[Behaviour] [nvarchar](max) NULL,
	[IssueDate] [nvarchar](20) NULL,
 CONSTRAINT [PK__TblLeavi__3214EC2775D61D25] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblSchool]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSchool](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[School_Id] [nvarchar](1000) NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](max) NULL,
	[Affiliation_Number] [nvarchar](100) NULL,
	[Mobile] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK__TblSchoo__3214EC0742529714] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblStudent]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblStudent](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Student_ID] [nvarchar](1000) NULL,
	[Name] [nvarchar](100) NULL,
	[Mobile] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Blood] [nvarchar](10) NULL,
	[Adhar] [nvarchar](12) NULL,
	[Gender] [nvarchar](10) NULL,
	[Nationality] [nvarchar](100) NULL,
	[Religion] [nvarchar](10) NULL,
	[Caste] [nvarchar](20) NULL,
	[Category] [nvarchar](10) NULL,
	[Financial] [nvarchar](20) NULL,
	[Dob] [nvarchar](20) NULL,
	[AdmissionDate] [nvarchar](20) NULL,
	[Class] [nvarchar](20) NULL,
	[Section] [nvarchar](10) NULL,
	[Roll] [nvarchar](10) NULL,
	[TLocation] [nvarchar](max) NULL,
	[TCity] [nvarchar](100) NULL,
	[TPin] [nvarchar](6) NULL,
	[TState] [nvarchar](100) NULL,
	[PLocation] [nvarchar](max) NULL,
	[PCity] [nvarchar](100) NULL,
	[PPin] [nvarchar](6) NULL,
	[PState] [nvarchar](100) NULL,
	[FatherName] [nvarchar](100) NULL,
	[FatherMobile] [nvarchar](15) NULL,
	[FatherQualification] [nvarchar](100) NULL,
	[FatherAnnual] [nvarchar](100) NULL,
	[FatherOccupation] [nvarchar](100) NULL,
	[MotherName] [nvarchar](100) NULL,
	[MotherMobile] [nvarchar](15) NULL,
	[MotherQualification] [nvarchar](100) NULL,
	[MotherOccupation] [nvarchar](100) NULL,
	[MotherAnnual] [nvarchar](100) NULL,
	[DobCertificate] [nvarchar](max) NULL,
	[LeavingCertificate] [nvarchar](max) NULL,
	[LastQualCertificate] [nvarchar](max) NULL,
	[StudentImage] [nvarchar](max) NULL,
	[AdharImage] [nvarchar](max) NULL,
	[BusFacility] [nvarchar](10) NULL,
	[BusNumber] [nvarchar](10) NULL,
	[BusRoute] [nvarchar](100) NULL,
	[BusFee] [nvarchar](10) NULL,
	[Guardian] [nvarchar](100) NULL,
	[Relationship] [nvarchar](100) NULL,
	[GaurdianMobile] [nvarchar](15) NULL,
	[FinancialYear] [nvarchar](20) NULL,
	[AdmittedClass] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[Date] [nvarchar](20) NULL,
	[Promotion] [nvarchar](20) NULL,
 CONSTRAINT [PK__TblStude__3214EC27E92F51C5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblSubject]    Script Date: 17-07-2025 17:35:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSubject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](100) NULL,
 CONSTRAINT [PK__TblSubje__3214EC2785AEF927] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
